<h1>All Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <input type="checkbox" name = "name1" /><%= link_to task.title, task_path(task) %>
    <%= link_to 'delete', destroy_path(task), method: 'delete'%>
    <br>
  <% end %>
</ul>

<%= link_to 'Add a task', new_path%>
